body{
    background-color: lightgray;
    font-family: Arial;
    margin: 100px;
}

.area-canvas{
    text-align: center;
    margin-top: 40px;
}

canvas{
    background-color: #dcdcdc;
    border: 1px solid black;
}