

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #222;
    padding: 20px;
    text-align: center;
}

#titulo {
    color: white;
}

nav {
    margin-top: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: #444;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 8px;
}


nav a:hover {
    background-color: #00bcd4;
    color: black;
}

.conteudo {
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 30px;
    margin-top: 30px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #00bcd4;
    color: white;
    padding: 12px;
}

td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
}

tr:hover {
    background-color: #f1f1f1;
}