



body{
    background-color: lightblue;
    font-family: Arial;
}

.centralizar{
    text-align:center;
    width:400px;
    margin:auto;
    margin-top:120px;
    padding:30px;
    border-radius:10px;
    background-color:white;
}

input{
    padding:8px;
    width:150px;
    text-align:center;
}

button{
    padding:10px;
    cursor:pointer;
}

nav a{
    margin:10px;
    text-decoration:none;
}